
html{
  scroll-behavior: smooth;
}
body {
  margin: 0px;
  box-sizing: border-box;
  background-color: #DDDDDD;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  min-height: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-weight: 700;
}
